* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Urbanist', sans-serif;
}

html{
  background-color: rgb(255, 255, 255);
}

body{
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #50c01c00;
  padding-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border: solid 4px rgb(255, 255, 255);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009688;
}